@charset "UTF-8";

body {
    background-color: rgb(220, 191, 25);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}
h1 {
    color: rgb(119, 10, 222);
}
h2 {
    color: rgb(235, 6, 6);
}
p {
    color: white;
    text-align: justify;
}